main.category-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    margin-top: 5.6vw;
}
.image-section > img{
    width: 50vw;
}
.image-section{
    border: 1px #121212 solid;
}
.items-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
div.items-section> a{
    width: 25vw;
    text-decoration: none;
}
div.items-section> a > div{
    position: relative;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    border: 1px #121212 solid;
}
div.items-section> a > div > h2, div.items-section> a > div > p{
    margin: 0;
}
div.items-section> a > div > h2{
    color: #121212;
}
div.items-section> a > div > p{
    color: #808080;
}
div.items-section > a > div > img{
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.grid-first-column{
    grid-column: 1;
}
.grid-second-column{
    grid-column:2;
}